ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;
}
li {
    display: inline;
    text-align:center;
    color: black;
}
body {
     background-color:Green;
     text-align:center;
     font-family:times new roman;
     }